# DataTypes

## 1. Definition of DataTypes:
  
 Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the  data.

 For example, a variable that holds an integer would be an integer data type, a variable that holds a string would be a string data type, and so on.

 They intends the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

## 2. Importance of Data Types in Programming 

i. Data types ensure that data is stored in an efficient way.

ii. It allows the programmer to perform operations on the data in a meaningful and predictable way.

For example, if you have a variable that holds a number, you can perform mathematical operations like addition, subtraction, multiplication, and division on it.

iii. they help to perform operations on the data in a meaningful and predictable way.

iv. Proper use of data types can prevent errors and bugs in the program.

## Agenda for this notebook:
1. Introduction to Datatypes
2. Importance of Data Types in Programming.
3. Basic Data Types:
    - Integer
    - Float-point numbers
    - Strings
    - Booleans (True, False)
4. Advanced Data Types
    - Lists
    - Tuples
    - Dictionaries
    - Sets
5. Type Conversion
6. Practical Examples

## 3. Basic Data Types

Integer:

In [1]:
age = 25
type(age)

int

Floating point data type:

In [2]:
#floating point number 
pie = 3.1416
print(pie)
print(type(pie))

3.1416
<class 'float'>

String data type:

In [3]:
highest_mountain = "k2"
print(highest_mountain)
print(type(highest_mountain))

k2
<class 'str'>

Booleans (true, false) data type:

In [4]:
is_true = True
print(is_true)
print(type(is_true))

True
<class 'bool'>

In [5]:
is_true = bool()
is_true

False

In [6]:
a = 10 
b = 10

a == b

True

In [7]:
##Common Error Messages
result = "hello" + 5
result

TypeError: can only concatenate str (not "int") to str

In [9]:
##overcome this problems by typecasting to string
result = "hello" + str(5)
result

'hello5'

## 4. Advanced Data Types

Lists:

In [11]:
list1 = [1, 2, 3, 4, 5]
print(list1)
print(type(list1))

[1, 2, 3, 4, 5]
<class 'list'>

Tuples:

In [12]:
tup1 = (1, 2, 3, 5, 7) #creating a tuple
print(tup1)
print(type(tup1))

(1, 2, 3, 5, 7)
<class 'tuple'>

Dictionary:

In [13]:
dict = {"name": "Noor", 
        "Age": 24,
        "height": 5.2, 
        "is_student": True,
        "major": "Data Science"}
print(dict)
print(type(dict))

{'name': 'Noor', 'Age': 24, 'height': 5.2, 'is_student': True, 'major': 'Data Science'}
<class 'dict'>

Sets:

In [14]:
my_set = {1, 2, 4, 6, 8, 8}
print(my_set)
print(type(my_set))

{1, 2, 4, 6, 8}
<class 'set'>

## 5. Type Conversion

In [15]:
height = 5.2
print(type(height))

##type conversion
height_str = str(height)
print(height_str, type(height_str))


##type conversion from float to integer
height_int =  int(height)
print(height_int, type(height_int))

##type conversion
height_int = int(height_str)
print(height_int, type(height_int))

<class 'float'>
5.2 <class 'str'>
5 <class 'int'>

ValueError: invalid literal for int() with base 10: '5.2'